@page "/"
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.DropDowns
@using System.Collections.Generic;
@using System.Globalization;
@using System.IO;

<PageTitle>Trademark - Fillable Forms</PageTitle>

<div class="container-fluid">
    <div class="row title-form fw-bold pt-5">
        <div class="text-center fs-3">Trademark Forms</div>
    </div>

    <div class="container p-3">
        <div class="row">
            <div class="col">
                <div class="card card-tm-rf">
                    <a href="/Pages/RegistrationForm.razor"></a>
                    <div>Registration Form</div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4">
                <div class="card card-tm" To="trademark-declaration-of-actual-use">
                    <div>Declaration of Actual Use</div>

                </div>
            </div>
            <div class="col-4">
                <div class="card card-tm">
                    <div>Request for Renewal</div>
                    
                </div>
            </div>
            <div class="col-4">
                <div class="card card-tm">
                    <div>Request for Revival in Publication</div>

                </div>
            </div>
        </div>
    </div>

</div>



