@page "/"
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.DropDowns
@using System.Collections.Generic;
@using System.Globalization;
@using System.IO;

<div class="container">
    <div class="row">
        <div class="col-7">
            <div class="card tm-main-about">
                <div class="title">TRADEMARK</div>
                <div class="description">
                    This section is for its description. Kindly edit.
                </div>
                <button class="btn about-page-bttn">About the Trademark</button>
            </div>
        </div>
        <div class="col-5">
            <div class="card tm-forms">
                <div class="title">REGISTRATION FORM</div>
                <div class="col-2">
                    <img class="img-left-bttn"
                         src="left.png"
                         alt="left-button-arrow"
                         loading="lazy" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 ">
            <div class="card tm-forms">
                <div class="title">DECLARATION OF USE</div>
                <div class="col-2">
                    <img class="img-left-bttn"
                         src="left.png"
                         alt="left-button"
                         loading="lazy" />
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card tm-forms">
                <div class="title">REQUEST FOR RENEWAL</div>
                <div class="col-2">
                    <img class="img-left-bttn"
                         src="left.png"
                         alt="left-button-arrow"
                         loading="lazy" />
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card tm-forms">
                <div class="title">REQUEST FOR REVIVAL IN PUBLICATION</div>
                <div class="col-2">
                    <img class="img-left-bttn"
                         src="left.png"
                         alt="left-button-arrow"
                         loading="lazy" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card tm-forms">
                <div class="title">REQUEST FOR REVIVAL IN EXAMINATION</div>
                <div class="col-2">
                    <img class="img-left-bttn"
                         src="left.png"
                         alt="left-button-arrow"
                         loading="lazy" />
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card tm-forms">
                <div class="title">REQUEST FOR PRIOERITY EXAM</div>
                <div class="col-2">
                    <img class="img-left-bttn"
                         src="left.png"
                         alt="left-button-arrow"
                         loading="lazy" />
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card tm-forms">
                <div class="title">REQUEST FOR SUSPENSION OF ACTION</div>
                <div class="col-2">
                    <img class="img-left-bttn"
                         src="left.png"
                         alt="left-button-arrow"
                         loading="lazy" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card tm-forms">
                <div class="title">EXTENSION OF TIME TO FILE RESPONSE</div>
                <div class="col-2">
                    <img class="img-left-bttn"
                         src="left.png"
                         alt="left-button-arrow"
                         loading="lazy" />
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card tm-forms">
                <div class="title">ASSIGNMENT OF APPLICATION FOR REGISTRATION OF TM</div>
                <div class="col-2">
                    <img class="img-left-bttn"
                         src="left.png"
                         alt="left-button-arrow"
                         loading="lazy" />
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card tm-forms">
                <div class="title">ASSIGNMENT OF REGISTERED TRADEMARK</div>
                <div class="col-2">
                    <img class="img-left-bttn"
                         src="left.png"
                         alt="left-button-arrow"
                         loading="lazy" />
                </div>
            </div>
        </div>
    </div>
</div>