body {
    padding: 1.667rem;
    font-family: 'Copperplate Gothic';
    font-size: 12px;
}

.row {
    margin-top: 1rem;
}

.card {
    position: relative;
    border-radius: 4px;
    background: #fff;
    height: 250px;
    width: auto;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,0);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    text-align: left;
    padding: 1.25rem;
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,0);
        background: #ed6b30;
    }

.card-tm {
    background-repeat: no-repeat;
    background-position: top;
    background-size: 80px;
}

.title {
    font-weight: bold;
    font-size: 1.5vw;
    margin-bottom: 0.5rem;
}
.title,
.sub-title {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.description {
    font-size: 1.5vw;
    line-height: 1.4;
}

.about-page-bttn {
    margin-top: auto;
    width: 50%;
    padding: 0.5rem 1rem;
    background-color: #ed6b30;
    color: #fff;
    font-size: 1.5vw;
    border: none;
    border-radius: 0.333rem;
    cursor: pointer;
}

.img-left-bttn {
    position: absolute;
    width: 17%;
    height: auto;
    bottom: 1rem;
    right: 1rem;
}

.modal-header {
    background-color: #ed6b30;
}
.modal-title {
    font-size: 1.5vw;
    font-weight: bold;
    color: #ffffff;
}
.modal-body{
    text-align: justify;
}

.btn.closemodal {
    background-color: #a4acac;
    color: #fff;
}
    .btn.closemodal:hover {
        background-color: #343131;
    }

.btn.consentyesmodal {
    background-color: #ed6b30;
    color: #fff;
}
    .btn.consentyesmodal:hover {
        background-color: #341406;
    }

