.img-tm {
    width: 50px;
    height: auto;
}

.card {
    background-color: #ffffff;
} /*main card of editform*/

.title-tm {
    font-size: 22px;
    background-color: #ed6b30;
    color: #ffffff; 
    font-weight: bold;
    text-align: center;
} /*TRADEMARK APPLICATION - IPOPHL FORM 400*/

    .btn-label{
        text-align: center;
    } /*main button: type of mark, applicant, resident agent, goods/services*/

.tm-info-title{

} /*main input forms e.g. trademark information, applicant information*/


    .icon-bttn-o {
        color: #ed6b30;
        font-size: 10px;
        width: 25px;
        height: auto;
    }
    .icon-bttn-g {
        color: #a4acac;
        font-size: 10px;
        width: 25px;
        height: auto;
    }

.btn {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}
    .btn-dark {
        background-color: #F6995C !important;
        color: #000000 !important;
    }
    .btn-light {
        background-color: #ffffff !important;
        color: #000000 !important;
    }
    .btn.active {
        background-color: #ed6b30 !important;
        color: white !important;
    }

.form-row-title {
    font-size: 15px;
    color: #ed6b30;
    font-weight: bold;
}
.e-btn-group {
    background-color: #ed6b30;
    word-wrap: break-word;
}

